{% extends 'base.html' %} 
{% block title %}Help{% endblock %} 
{% block content %}
<div class="row p-2">
    <h2>Need help?</h2>

</div>

<div class="row p-2">
    <h4>What are the search functions?</h4>
</div>
    <div class=""card-deck">

    <div class="col p-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Find All Drugs</h5>
          <p class="card-text">Get a list of all drug products with the specified name. The name can be a drug ingredient, brand name, clinical dose form, branded dose form, clinical drug component, or branded drug component. <em>For example, try one of these names: azithromycin, Lipitor, azithromycin 250 mg, morphine sulfate</em>.</p>
          <a href="https://lhncbc.nlm.nih.gov/RxNav/APIs/api-RxNorm.getDrugs.html" class="btn btn-primary" target="_blank" style="background-color: #334257">API Documentation</a>
        </div>
      </div>
    </div>
    <div class="col p-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Approximate Match</h5>
          <p class="card-text">Look for the drug name in the RxNorm data set that most closely matches the search. This function will display the name of the RxNorm drug, RxCUI, and score. If you are not sure the spelling of a drug, this is the function to use. <em>For example, ranitidine (Zantac) is the correct spelling. Instead try: rantidine</em>. You'll see even using incorrect spelling returns the proper drug name and RxCUI.</p>
          <a href="https://lhncbc.nlm.nih.gov/RxNav/APIs/api-RxNorm.getApproximateMatch.html" class="btn btn-primary" target="_blank" style="background-color: #334257">API Documentation</a>
        </div>
      </div>
    </div>
    <div class="col p-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Image</h5>
            <p class="card-text">What do medications and images have in common? Well, nothing. This is a fun addition to try out in between querying the NLM medication database. Simply, select Image from the 
                dropdown menu, then search for the whatever you like! This function utilizes the microservice created by <a
                href="https://github.com/shenalexw/image-microservice"
                class="link-secondary"
                target="_blank"
                > Alexander Shen</a
              >.
            </p>
            <a href="https://unsplash.com/" class="btn btn-primary" target="_blank" style="background-color: #334257">Unsplash Website</a>
          </div>
        </div>
      </div>
          </div>
          <div class="row p-2">
            <h4>What do all these terms mean?</h4>
        </div>
        <div class="row">
            <div class="col">
              <li>
                <b>API:</b> Application Programming Interface. Simply, a way for us to connect to another computer and get information.
              </li>
              <li>
                <b>RxCUI:</b> NLM describes it as <em>"Identifier that points to the common meaning shared by the various source names grouped and assigned to a particular concept"</em>. 
                In simpler terms, this is giving each medication an unique ID.
              </li>
              <li>
                <b>UUID:</b> Universally unique identifier. Used for identifying information that needs to be unique within a system. This was generated by a microservice found 
                <a
                href="https://github.com/chrismannina/uuid-genie"
                class="link-secondary"
                target="_blank"
                >here</a
              >.
              </li>
            </div>
            <div class="col">
              <li>
                <b>RxAUI:</b> RxNorm atom unique identifier. This is a string identifier for each RxNorm concept.
              </li>
              <li>
                <b>Score:</b> Found when using the <em>Approximate Match</em> search function. This is simply the match score (higher is better).
              </li>
              <li>
                <b>NDC:</b> NLM describes it as <em>"Identifier that points to the common meaning shared by the various source names grouped and assigned to a particular concept"</em>. 
                In simpler terms, this is giving each medication an unique ID.
              </li>
            </div>
        </div>
        

  </div> 



{% endblock %}
