{% extends 'base.html' %} {% block title %}Search{% endblock %} {% block content %}
                  
    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">RxNorm Name</th>
              <th scope="col">RxCUI</th>
              <th scope="col">Prescribable</th>
              <th scope="col">Source</th>
              <th scope="col">Score</th>
              <th scope="col">UUID</th>
              <th scope="col">Add to DB</th>
            </tr>
          </thead>
          <tbody>
            {% for med in meds %}
            {% for n in uuid %}
            <tr>
              <td scope="row">{{ meds[med]['RxNorm Name'] }}</td>
              <td scope="row">{{ meds[med]['RxCUI'] }}</td>
              <td scope="row">{{ meds[med]['PRESCRIBABLE'] }}</td>
              <td scope="row">{{ meds[med]['Source'] }}</td>
              <td scope="row">{{ meds[med]['score'] }}</td>
              <td scope="row">{{ uuid[n] }}</td>
              <td scope="row">Add</td>
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>

    {% endblock %}