{% extends 'base.html' %} 
{% block title %}Search{% endblock %} 
{% block content %}


  <form class="d-flex" action="" method="POST">
 <div class="col-auto p-1">
    <select class="form-select" aria-label="Default select example" name="sel">
        <option selected>Select API Function</option>
        <option value="1">getDrugs</option>
        <option value="2">getApproximateMatch</option>
        <option value="image">Image</option>
      </select>
    </div>
    <div class="col p-1">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search for a medication..."
      aria-label="Search"
      name="search"
    />
    </div>
    <div class="col-auto p-1">
    <button class="btn btn-outline-success text-white" type="submit" style="background-color: #6351ce">Search</button>
    </div>
  </form>


{% endblock %}
